
a {
  text-decoration: none;
}

:root {
  --section-header-align: center;
}

.section-header {
  text-align: var(--section-header-align);
}

:root {
  --section-tagline-transform: uppercase;
}

.section-tagline {
  font-family: var(--font-family-title);
  text-transform: var(--section-tagline-transform);
  font-weight: var(--font-weight-bold);
}
